<app-header
  [pinCount]="pinCount"
  (inicio)="onReset()">
</app-header>

<div class="app-body">

  <app-sidebar
    [paises]="paises"
    [regiones]="regiones"
    [ciudades]="ciudades"
    (paisChange)="onPaisChange($event)"
    (regionChange)="onRegionChange($event)"
    (ciudadChange)="onCiudadChange($event)"
    (reset)="onReset()">
  </app-sidebar>

  <app-mapa
    [paises]="paises"
    [regiones]="regiones"
    [ciudades]="ciudades"
    [paisActivo]="paisActivo"
    [regionActiva]="regionActiva"
    [ciudadActiva]="ciudadActiva">
  </app-mapa>

</div>